include ./header

main#adminCreate 
    form(action="/editMovie", method="post")
        input(type='hidden' name='_method' value='put')
        input(type='hidden' name='filmId' value=filmId)
        input#title(type="text", name="title", value=title, placeholder="Título")
        input#urlImage(type="text", name="urlImage", value=urlImage, placeholder="URL Imagen")
        input#year(type="number", name="year", value=year, placeholder="Año")
        input#director(type="text", name="director", value=director, placeholder="Director")
        input#genre(type="text", name="genre", value=genre, placeholder="Género")
        input#runtime(type="number", name="runtime", value=runtime, placeholder="Duración")
        input(type="submit", value="Editar Pelicula")