include ./header

main#adminCreate 
    form(action="/editMovie", method="post")
        input(type='hidden' name='_method' value='put')
        input(type='hidden' name='id' value=id)
        input#title(type="text", name="title", value=title)
        input#urlImage(type="text", name="urlImage", value=urlImage)
        input#year(type="number", name="year", value=year)
        input#runtime(type="number", name="runtime", value=runtime)
        input#genre(type="text", name="genre", value=genre)
        input#director(type="text", name="director", value=director)
        input#actors(type="text", name="actors", value=actors)
        input#plot(type="text", name="plot", value=plot)
        input(type="submit", value="Editar Pelicula")