include ./header

main#adminCreate 
    form(action="/editMovie", method="post")
        input(type='hidden' name='_method' value='put')
        if message
            input(type='hidden' name='filmId' value=data.filmId)
            - let placeholderT = message.errors.title ? "El título es un campo requerido" : ""
            - let valueT = data.title != '' ? data.title : ''
            - let warningT = placeholderT != "" ? "err" : ""
            input#title(type="text", name="title", placeholder=placeholderT, value=valueT, class=warningT)
            if message.errors.urlImage
                span.popuptext #{message.errors.urlImage.message}
                input#urlImage(type="text", name="urlImage", placeholder="URL Imagen err", value=message.errors.urlImage.value, class="err")
            else 
                input#urlImage(type="text", name="urlImage", placeholder="URL Imagen err", value=data.urlImage)
            if message.errors.year
                span.popuptext El año debe estar entre 1888 y #{new Date().getFullYear() + 2}
                input#year(type="number", name="year", placeholder="Año err", value=message.errors.year.value, class="err")
            else 
                input#year(type="number", name="year", placeholder="Año err", value=data.year)
            input#director(type="text", name="director", value=data.director, placeholder="Director")
            input#genre(type="text", name="genre", value=data.genre, placeholder="Género")
            input#runtime(type="number", name="runtime", value=data.runtime, placeholder="Duración")
            input(type="submit", value="Editar Pelicula")
        else
            input(type='hidden' name='filmId' value=filmId)
            input#title(type="text", name="title", value=title, placeholder="Título")
            input#urlImage(type="text", name="urlImage", value=urlImage, placeholder="URL Imagen")
            input#year(type="number", name="year", value=year, placeholder="Año")
            input#director(type="text", name="director", value=director, placeholder="Director")
            input#genre(type="text", name="genre", value=genre, placeholder="Género")
            input#runtime(type="number", name="runtime", value=runtime, placeholder="Duración")
            input(type="submit", value="Editar Pelicula")