include ./header
main.searchTitleMain
    div.cajasup
        div 
            img.poster(src=Poster, alt="Imagen pelicula")
        div.containerfilm
            h2 #{Title}
            p #{Director}
            p #{Genre}
            p #{Runtime}
            p #{Year}
            img.favorite(src="../static/img/favorite.svg", alt="corazon")
    div
        h2 Sipnopsis
            p #{Plot}
        h2 Opiniones
            

script(src='../static/js/searchTitle.js')       
    