include ./header
main.searchTitleMain
    div.wraperserchtitle
        div 
            img.postersearchtitle(src=Poster, alt="Imagen pelicula")
        div.containersearchfilm
            h2 Titulo: #{Title}
            p Director: #{Director}
            p Genero: #{Genre}
            p Duración: #{Runtime}
            p Año: #{Year}
            img.favoritesearchtitle(src="../static/img/favorite.svg", alt="favorite icon")
    div
        h2 Sipnopsis
            p #{Plot}
        h2 Opiniones
            

script(src='../static/js/searchTitle.js')       
    