include ./header
main.searchTitleMain

    div.wraperserchtitle
        
        div 
            img.postersearchtitle(src=data.Poster, alt="Imagen pelicula")
        div.containersearchfilm
            h2 Titulo: #{data.Title}
            p Director: #{data.Director}
            p Genero: #{data.Genre}
            p Duración: #{data.Runtime}
            p Año: #{data.Year}
            img.favoritesearchtitle(src="../static/img/favorite.svg", alt="favorite icon")
    div.containersearchcoments
        h2 Sipnopsis
            p #{Plot}
        h2 Opiniones
            each val in comentarios
                p #{val}
            each val in coments 
                p #{val}
    div.loader       

script(src='../static/js/searchTitle.js')       
    