include ./header

main#adminMovies
    button(id=`createFilm`) Crear Película        
    ul
        each film in films
            li(class=film.filmId id=`filmID_${film.filmId}`)
                div(id=film.filmId).card
                    img.poster(src=film.urlImage, alt=`Cartel ${film.title}`)
                    div.info
                        h2 #{film.title}
                        p 
                            strong Año:
                            |  #{film.year}
                        p 
                            strong Director: 
                            | #{film.director}
                        p 
                            strong Género: 
                            | #{film.genre}
                        p 
                            strong Duración: 
                            | #{film.runtime}
                div#buttons
                    button(class=`button` id=`edit_${film.filmId}`)
                        img(src="../static/img/edit.svg", alt="edit icon")
                    button(class=`button` id=`delete_${film.filmId}`)
                        img(src="../static/img/remove.svg", alt="delete icon")

script(src='//cdn.jsdelivr.net/npm/sweetalert2@11')
script(src='../static/js/adminMovies.js')
script(src='../static/js/logout.js')