include ./header

main#usrMovies
    ul
        each film in data
            li(class=film.imdbID)
                div(id=film.imdbID).card
                    img.poster(src=film.Poster, alt=`Cartel ${film.Title}`)
                    div.info
                        h2 #{film.Title}
                        p 
                            strong Año:
                            |  #{film.Year}
                        p 
                            strong Director: 
                            | #{film.Director}
                        p 
                            strong Género: 
                            | #{film.Genre}
                        p 
                            strong Duración: 
                            | #{film.Runtime}
                button(class=`favorite ${film.imdbID}`)
                    img(src="../static/img/favorite.svg", alt="favorite icon")
                
script(src='//cdn.jsdelivr.net/npm/sweetalert2@11')
script(src='../static/js/usrMovies.js')