doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel="stylesheet", href="../static/css/style.css")
  
 
  title Document
form#search.movies(action='/search' method='post' class='search')
  input(type='search' name='busqueda' placeholder='Título de película...')
  
  input(type='submit' id='btn-search' class='btn-success' value='Buscar Película') 
  
  
  each val in filmsdata 
    article(class='tarjeta')
      div(class='poster')
        img(src=val.Poster, alt="Poseter de la película")
      div(class='info')
                p #{val.Title}
                p #{val.Year}
                p #{val.Director}
                p #{val.Genre}
                p #{val.Runtime}


     
                
              
     
                

     
    
       
//- if Response == "True"
//-     h1 #{data.Title} 
//-     div.content
//-         
//-         div.description
//-         p 
//-             strong Título: 
//-         p #{data.Title}
//-         p 
//-             strong Director: 
//-         p #{data.Director}
//-         p 
//-             strong Género: 
//-         p  #{data.Genre}
//-         p 
//-             strong Duración: 
//-         p  #{data.Runtime}
//- else
//-     p El título introducido no existe
            