include ./header
main
    div
        div 
            img(src=Poster, alt="Imagen pelicula")
        div
            h2 #{Title}
            p #{Director}
            p #{Genere}
            p #{Runtime}
            p #{Year}
            img(src="", alt="corazon")
    div
        
    