doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
form(action='../../form-result.php' method='post')
  input(type='search' name='busqueda' placeholder='Título de película...')
  br
  button(type='submit' value='Buscar Película')
    a(href="/search")
    if Response == "True"
        h1 #{Title} 
        div.content
         img(src=Poster, alt="portada")
         div.description
            p 
                strong Título: 
            p #{film.Title}
            p 
                strong Director: 
            p #{film.director}
            p 
                strong Género: 
            p  #{film.genre}
            p 
                strong Duración: 
            p  #{film.Runtime}
    else
        p El título introducido no existe
        